@font-face {
  font-family: MPhotoHead;
  src: url("./font/a-dripping-marker/adrip1.ttf");
}

@font-face {
  font-family: oText;
  src: url("./font/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: Nav;
  src: url("./font/remachine-script/RemachineScript_Personal_Use.ttf");
}

body {
  background-image: url("https://scontent-sjc3-1.cdninstagram.com/vp/2bfe663f7b5b608be9f32f26eb292cca/5DE8B564/t51.2885-15/e35/53609224_263987464478032_2025734636759690910_n.jpg?_nc_ht=scontent-sjc3-1.cdninstagram.com");
  background-repeat: space;
  background-position: center;
  background-position: top;
}

@media only screen and (max-width: 600px) {
  body {
    background-position: center 20%;
  }
}

.nbLink {
  text-shadow: 0px 0px 7px black;
  font-family: Nav;
  font-size: 50px;
}

.nav-link {
  color: white;
  text-shadow: 0px 0px 4px black;
  font-size: 22px;
}

.hamburger {
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: burger;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-user-select: none;
  animation: infinite;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: burger;
  animation-timing-function: ease-in-out;
}

@keyframes burger {
  0% {
    background-color: #ffffff36;
  }
  50% {
    background-color: #ffffffd5;
  }
  100% {
    background-color: #ffffff36;
  }
}
